
      /*Overall design*/
      * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
            text-align: center;
            font-family: system-ui, "Segoe UI", Tahoma;
            
        
        }
 /*Overall design End*/
 table, th, td {
    
    border: 2px solid black;
    margin: 5 5 5 5;
  }
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(240, 240, 240);
            text-align: center;
            align-items: center;
        }
       /* design for navigation */
	header {
  display: flex;
  width: 100%;
  background-color: aliceblue;
}

header > * {
/*   flex-grow: 1; */
}

header h1 {
  margin-left: 1rem;
}

header a {
  text-decoration: none;
}

/* "Hide" checkbox -- moves it off screen*/
#menu-btn {
  position: absolute;
  top: -100%;
  left: -100%;
}

/* Hide hamburger for bigger screens */
.menu-icon {
  visibility: hidden;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  margin-right: 2rem;
}


/* Set width for mobile/smaller screen size. */
/* I set it big here so I don't have to shrink the screen so much */
/* for testing purposes 
@media screen and (max-width: 1100px) {
  
  header {
    display: grid;
    grid-template-areas:
       "title   title   hamburger"
       "nav     nav     nav";
  }
  
  h1 {
    grid-area: title;
  }
  
  .menu a {
    text-decoration: none;
    color: black;
  }

  .menu-btn {
    display: none;
  }

  .menu-icon {
    grid-area: hamburger;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 30px 20px 30px 0;
    position: relative;
    user-select: none;
    visibility: visible;
  }

  .navicon {
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
  }

  .navicon:before {
    top: 5px;
  }

  .navicon:after {
    top: -5px;
  }

  .navicon:before, .navicon:after {
    background: #333;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    transition: all .2s ease-out;
  }

  .menu {
    grid-area: nav;
    max-width: unset;
    max-height: 0;
    transition: max-height .2s ease-out;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .menu a {
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    background-color: #eee;
    width: 100%;
    text-align: center;
  }

  .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:before,
  .menu-btn:checked ~ .menu-icon .navicon:after {
    top: 0;
  }
}


*/
/* navigation bar design */


       .heading{
        color: rgb(145, 22, 22);
        margin-top: 15%;
       }
       .heading:hover{
        opacity: 0.5;
       
       }
       .container
       {
        border-style: solid;
       }
       .label1
       {
        font-size: 2em;
        
       }
       
       .add_Button
       {
        font-size: 2em;
	max-width: 4em;
	padding: 1rem;
       }
       .add_Button:hover
       {
       
        opacity: 0.7;
        background-color: aquamarine;
       }
       .label1, .text_Box1, .add_Button{
        margin-top: .5em;
        margin-bottom: 0.3em;
       }
	.txtTask {
	font-size: 2em;
	}
       /* for time and date*/

       .container {
        padding: 20px;
        background-color: #b6bfd4;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        margin: auto;
    }
    #datetime {
        font-size: 0.5em;
        font-weight: bold;
    }
     /* for time and date end*/


     /* for table design*/
     #taskTable
     {
        font-size: 2em;
	      border-width: thin;
        max-width: 100%;
        margin: auto;
     }

     /*table design end */
     /*table TD design*/
     .td, input {
      font-size: 1em;
     }
      /*table TD design end*/

      /*td buttons design*/
      .done_btn{
        font-size: 1em;
        margin: auto;
      }
      .edit_btn{
        font-size: 1em;
        margin: auto;
      }
      .remove_btn{
        font-size: 1em;
        margin: auto;
      }
      .clear_btn{
        font-size: 1em;
        margin: auto;
      }
      /*td buttons design end*/