
      /*Overall design*/
      * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
            text-align: center;
       
       
        
        }
 /*Overall design End*/
 table, th, td {
    
    border: 2px solid black;
    margin: 5 5 5 5;
  }
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(240, 240, 240);
            text-align: center;
            align-items: center;
        }
       
       .heading{
        color: rgb(145, 22, 22);
        margin-top: 15%;
       }
       .heading:hover{
        opacity: 0.5;
       
       }
       .container
       {
        border-style: solid;
        border-radius: 3em;
        margin: 5px 5px 5px 5px;
       }
       .label1
       {
        font-size: 2em;
        
       }
       .text_Box1
       {
        font-size: 2em;
       }
       .add_Button
       {
        font-size: 2em;
       }
       .add_Button:hover
       {
       
        opacity: 0.7;
        background-color: aquamarine;
       }
       .label1, .text_Box1, .add_Button{
        margin-top: .5em;
        margin-bottom: 0.3em;
       }

       /* for time and date*/

       .container1 {
        padding: 20px;
        background-color: #b6bfd4;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }
    #datetime {
        font-size: 0.5em;
        font-weight: bold;
    }
     /* for time and date end*/

     /* for table design*/
     #myTable
     {
        font-size: 2em;
     }