<!-- Goal of the project 2/25/2025-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
    <script src="{{ url_for('static', filename='js/script1.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo app</title>
</head>
<body>
    <h1 class="heading">TASK SCHEDULER</h1>
    <!--
    <h3>Goal:</h3><p>This app will display records and will 
        create task list for the user inside the table</p>-->
    <!--Main function as of 2/25/2025-->
    <div class="container">
    <label for="task" class="label1">ADD TASK SCHEDULE</label>
    
    
    <input type="text" name="task" class="txtTask" id="add_task" placeholder="Enter task"></input>
    <input id="party" type="datetime-local" name="party-date" value="2017-06-01T08:30" />
    <button class="add_Button" onclick="addTask()">ADD</button>
  </div>
    <h1 class="task_list_title">Task List</h1>
    <table id="taskTable">
        <tr class="headings_for_table">
            <th>Time and Date Today</th>
            
            <th>Id</th>
            <th>Name of task</th>
            <th>Schedule date of task</th>
            <th>Action</th>
          </tr>
          <br>
       <tbody>
            </tbody>
      </table>
      <br>
      <p id="demo"><p>
</body>

</html>