<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Scheduler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
    <script src="{{ url_for('static', filename='js/script1.js') }}"></script>
    <style>
       
    </style>
</head>
<body>
    
    <button class="toggle-nav-btn" onclick="toggleNavbar()">☰</button>
    <nav class="navbar" id="navbar">
        <div class="home">Home</div>
        <ul class="nav-links">
            <li><a href="#content">Create</a></li>
            <li><a href="#">Tasks Created</a></li>
            <li><a href="#">Task Status</a></li>
            <li><a href="#">View Completed Tasks</a></li>
            <li><a href="#">View Failed Tasks</a></li>
        </ul>
    </nav>
    <div class="content" id="content">
        <h1>Task Scheduler</h1>
        <div class="task-container">
            <label for="task" class="label1"><strong>Add Task Schedule</strong></label>
            <input type="text" name="task" class="txtTask" id="add_task" placeholder="Enter task">
            <input id="party" type="datetime-local" name="party-date" value="2025-06-01T08:30" />
            <button class="add_Button" onclick="addTask()">Add Task</button>
        </div>
        <h1 class="task_list_title">Task List</h1>
        <table id="taskTable">
            <thead>
                <tr>
                    <th>Time and Date Today</th>
                    <th>ID</th>
                    <th>Task Name</th>
                    <th>Scheduled Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</body>
</html>
